<footer
  class="flex flex-col justify-center items-start px-20 h-auto bg-[#F7F7F7] w-full"
>
  <div class="w-full flex items-center justify-between text-xs py-12">
    <div class="flex flex-col gap-3">
      <p class="font-bold text-black">Atendimento</p>
      <a href="#">AirCover</a>
      <a href="#">Central de Ajuda</a>
      <a href="#">Antidiscriminação</a>
      <a href="#">Apoio à pessoa com deficiência</a>
      <a href="#">Opções de cancelamento</a>
      <a href="#">Reporte um problema no bairro</a>
    </div>
    <div class="flex flex-col gap-3">
      <p class="font-bold text-black">Hospedagem</p>
      <a href="#">Anuncie seu espaço no Airbnb</a>
      <a href="#">AirCover para anfitriões</a>
      <a href="#">Recursos para anfitriões</a>
      <a href="#">Fórum da comunidade</a>
      <a href="#">Hospedagem responsável</a>
      <a href="#">Participe de uma aula gratuita de hospedagem</a>
      <a href="#">Encontre um coanfitrião</a>
    </div>
    <div class="flex flex-col gap-3">
      <p class="font-bold text-black">Airbnb</p>
      <a href="#">Newsroom</a>
      <a href="#">Novos recursos</a>
      <a href="#">Carreiras</a>
      <a href="#">Investidores</a>
      <a href="#">Locais emergenciais Airbnb.org</a>
    </div>
  </div>

  <div class="w-full">
    <app-horizontal-bar></app-horizontal-bar>
  </div>

  <ul class="flex items-center gap-5 text-xs py-5 text-[#717171] list-disc">
    <li>© 2024 Airbnb, Inc.</li>
    <li>Privacy</li>
    <li>Terms</li>
    <li>Sitemap</li>
    <li>Company details</li>
  </ul>
</footer>
